@media (max-width: 1600px) {
  .banners__panel {
    padding: 50px;
  }
  .banners__next {
    width: 140px;
    height: 140px;
  }
  .title {
    font-size: 34px;
  }
  .print__section__item {
    &s {
      gap: 15px;
    }
    padding: 20px;
    width: calc(25% - 12px);
  }
  .call-to-action__inner {
    flex-direction: column;
  }
  .call-to-action__inner__text {
    padding-top: 0;
  }
  .price__images {
    gap: 40px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .price__materials {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .price__image {
    width: flexWidth(2, 40px);
  }
  .price__image__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1400px) {
  .banners__panel {
    &__content {
      &s {
        height: 230px;
      }
      font-size: 30px;
    }
  }
  .promo__block__panel {
  }
  .promo__block__image img {
    max-width: 300px;
  }
  .promo__block {
    padding: 40px;
    display: flex;
    align-items: center;
  }
  .content-slider {
    &__content {
      padding: 40px;
    }
    &__slider {
      .slider {
        .swiper-slide {
          width: 400px;
        }
      }
    }
  }
  .price__templates .tabs__contents {
    padding: 30px;
  }
}

@media (max-width: 1200px) {
  .banners__panel {
    padding: 40px;
  }
  .banners {
    margin-top: 30px;
  }
  .section {
    padding: 20px 0;
    &__header {
      margin-bottom: 30px;
    }
  }
  .grid {
    gap: 20px;
    &__item {
      width: calc(33% - 11px);
      padding-top: calc(33% - 11px);
    }
  }
  .promo__block__image {
    display: none;
  }
  .promo__block__inner {
    width: 100%;
  }
  .articles {
    gap: 20px;
    .article {
      width: calc(33.3333% - 40px / 3);
    }
  }
  .contacts {
    &__data {
      padding: 30px;
      gap: 15px;
      width: 50%;
    }
  }
  .print__section__item {
    width: calc(33.3333% - 10px);
  }
  .gallery.gallery--page .gallery__viewer__list {
    gap: 20px;
    a {
      width: flexWidth(5, 20px);
    }
  }
  .price__templates .tabs__button {
    min-width: 33.33333%;
  }
  .price__materials {
    gap: 15px;
    &__title {
      font-size: 20px;
    }
  }
  .price__materials__item {
    width: flexWidth(4, 30px);
  }
  .price__colors {
    gap: 30px;
  }
  .price__color {
    width: flexWidth(4, 30px);
  }
  .price__blocks {
    padding: 40px;
    gap: 40px;
  }
  .price__block {
    gap: 40px;
  }
  .product__gallery__main {
    padding: 50px;
    &__panel {
      min-height: 480px;
      padding: 40px;
    }
  }
  .products__list {
    gap: 20px;
  }
  .product--card {
    padding: 20px;
    gap: 20px;
  }
  .zoom__list {
    margin-top: 40px;
    gap: 20px;
    .zoom__item {
      width: flexWidth(3, 20px);
      padding-top: calc(flexWidth(3, 20px) - 60px);
    }
  }
  .tabs__button {
    font-size: 20px;
  }
  ._3d__first {
    padding: 30px;
  }
  ._3d__first__block__title {
    font-size: 20px;
  }
  ._3d__first__block {
    gap: 20px;
    width: flexWidth(2, 50px);
  }
  ._3d__first__blocks {
    gap: 50px;
  }
  .grid__title {
    font-size: 24px;
  }
}

@media (max-width: 1100px) {
  .content__wrapper__sidebar {
    padding: 30px;
    width: 400px;
  }
}

@media (max-width: 991px) {
  ._3d {
    gap: 20px;
  }
  .section {
    padding: 20px 0;
  }
  .grid {
    gap: 20px;
    &__item {
      width: calc(50% - 10px);
      padding-top: calc(50% - 10px);
    }
  }
  .banners__panel {
    width: 100%;
    border-radius: 50px;
  }
  .banners__next {
    display: none;
  }
  .banners {
    margin: 30px 0 0 0;
  }
  .swiper-buttons,
  .banners__panel__controls {
    gap: 15px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
    svg {
      max-width: 30px;
    }
  }
  .banners__panel__controls {
    margin-top: 25px;
  }
  .video {
    margin: 30px 0;
    &__content {
      padding: 30px;
    }
    &__title {
      font-size: 24px;
    }
  }
  .content-slider {
    flex-wrap: wrap;
    &__content,
    &__slider {
      width: 100%;
    }
    &__slider {
      border-radius: 50px;
      overflow: hidden;
      .slider {
        position: static;
        transform: none;
        width: 100%;
        .swiper-slide {
          width: 50%;
        }
      }
    }
  }
  .articles {
    .article {
      width: calc(50% - 40px / 3);
    }
  }
  .content__wrapper__sidebar {
    width: 100%;
  }
  .content__wrapper__inner {
    padding: 30px;
  }

  .print__section__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .call-to-action__inner__form .form {
    .form__item:last-child {
      width: 100%;
      flex-shrink: 0;
      flex: none;
    }
  }
  .gallery.gallery--page .gallery__viewer__list {
    a {
      width: flexWidth(4, 20px);
    }
  }
  .gallery.gallery--page .gallery__viewer__image__navigation {
    left: 30px;
    bottom: 30px;
    gap: 15px;
  }
  .price__templates .tabs__button {
    min-width: 50%;
  }
  .tabs__button {
    font-size: 16px;
  }
  .price__materials__item {
    width: flexWidth(3, 30px);
    &__count {
      font-size: 30px;
    }
    &__title {
      font-size: 16px;
    }
  }
  .price__text__title {
    font-size: 24px;
  }
  .price__text {
    gap: 15px;
  }
  .price__texts {
    gap: 30px;
  }
  .price__color {
    width: flexWidth(3, 30px);
  }
  .price__color__price mark {
    font-size: 24px;
  }
  .content-block--image,
  .content-block--text,
  .content-block--button,
  .content-block--slider {
    margin: 30px 0;
  }
  .content-block--text .content--big {
    font-size: 24px;
  }
  .product__gallery {
    gap: 20px;
  }
  .product--card {
    width: flexWidth(2, 20px);
  }
  .zoom__list {
    .zoom__item {
      width: flexWidth(2, 20px);
      padding-top: calc(flexWidth(2, 20px) - 60px);
    }
  }
  ._3d__first__blocks {
    flex-direction: column;
    gap: 25px;
  }
  ._3d__first__block {
    width: 100%;
  }
  ._3d__first__block__image {
    height: auto;
  }
  ._3d__second__content {
    padding: 30px;
  }
  ._3d__second__content__title {
    font-size: 20px;
  }
  ._3d__second__content {
    gap: 20px;
  }
  .grid__item {
    &:before {
      background-color: var(--black);
      opacity: 0.5;
    }
    .grid__item {
      &__background {
        transform: scale(1.2);
      }
      &__icon {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 60px));
      }
      &__title {
        bottom: 50%;
        transform: translate(-50%, 50%);
      }
      &__label {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 900px) {
  .print__section__item {
    width: calc(50% - 15px / 2);
    .print__section__item__title {
      font-size: 16px;
    }
    .print__section__item__image {
      margin-bottom: 15px;
    }
    .print__section__item__description {
      margin-top: 10px;
    }
    .print__section__item__button {
      margin-top: 10px;
    }
  }
}

@media (max-width: 800px) {
  .promo {
    gap: 20px;
  }
  .promo__form {
    width: 50%;
  }
  .promo__block {
    padding: 20px;
  }
  .promo__block__panel {
    gap: 15px;
  }
  .promo__block__panel__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .video {
    &__content {
      display: none;
    }
  }
  .article__data {
    gap: 15px;
    padding: 20px;
  }
  .article__title {
    font-size: 18px;
  }
  .promo {
    flex-wrap: wrap;
    &__form {
      width: 100%;
      padding: 30px;
      gap: 15px;
      &__title {
        font-size: 20px;
      }
    }
  }
  .content-slider {
    &__content {
      padding: 30px;
      gap: 15px;
      &__title {
        h2 {
          font-size: 24px;
        }
      }
    }
  }
  .articles {
    .article {
      width: 100%;
    }
  }
  .load-more__pagination {
    flex-direction: column;
    margin: 20px 0;
    padding-top: 20px;
    gap: 15px;
  }
  .pagination .nav-links {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pagination .page-numbers {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .map {
    min-height: 300px;
  }
  .contacts {
    flex-direction: column;
    &__data {
      width: 100%;
      &__block {
        h2 {
          font-size: 24px;
        }
      }
    }
  }
  .contacts__table table th,
  .contacts__table table td {
    padding: 10px 10px 10px 0;
    font-size: 12px;
    &:last-child {
      padding-right: 0;
    }
  }
  .call-to-action {
    margin: 20px 0 40px 0;
    padding: 30px;
    &__title {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
  .call-to-action__inner__form .form {
    .form__item {
      width: 100%;
      flex-shrink: 0;
      flex: none;
    }
  }

  .gallery.gallery--page .gallery__viewer {
    margin-top: 15px;
    gap: 0;
  }
  .gallery.gallery--page .gallery__viewer__image {
    &__navigation {
      position: static;
      padding: 20px 0;
      border-radius: 0 0 50px 50px;
      &__counter {
        margin-left: auto;
        span {
          color: var(--black);
        }
      }
      &__button {
        width: 50px;
        height: 50px;
        color: var(--gray);
        .icon {
          width: 30px;
        }
      }
    }
  }
  .price__templates .tabs__contents {
    margin-top: 30px;
    padding: 20px;
  }
  .price__image {
    &s {
      gap: 15px;
    }
    width: 100%;
    &__title {
      font-size: 16px;
    }
  }
  .price__color {
    width: flexWidth(2, 30px);
  }
  .price__block {
    flex-direction: column;
  }
  .price__block:nth-child(even) .price__block__image {
    order: 0;
  }
  .price__block__image {
    width: 100%;
  }
  .price__block__content {
    gap: 15px;
    &__title {
      font-size: 20px;
    }
  }
  .content-block--text {
    flex-direction: column;
    gap: 20px;
  }
  .content-block--button {
  }
  .breadcrumbs {
    gap: 15px;
  }
  .product__gallery__main {
    padding: 0;
    &__panel {
      max-width: 100%;
      min-height: auto;
      &__body {
        gap: 15px;
      }
      &__title {
        font-size: 24px;
      }
    }
    .swiper {
      position: static;
      height: 300px;
    }
  }
  ._3d__second__image {
    width: 30%;
  }
}

@media (max-width: 700px) {
  .gallery.gallery--page .gallery__viewer__list {
    a {
      width: flexWidth(3, 20px);
    }
  }
  .price__templates .tabs__button {
    min-width: 100%;
  }
  .product--card {
    width: 100%;
  }
  .zoom__list {
    .zoom__item {
      width: 100%;
      padding-top: calc(100% - 60px);
    }
  }
}

@media (max-width: 600px) {
  .grid {
    &__item {
      width: 100%;
      padding-top: 100%;
    }
  }
  .title {
    font-size: 24px;
  }
  .banners__panel__content {
    &s {
      height: 240px;
    }
    font-size: 24px;
  }
  .gallery.gallery--page .gallery__viewer__list {
    a {
      width: flexWidth(2, 20px);
    }
  }
  .price__materials__item {
    width: flexWidth(2, 30px);
  }
  ._3d__second__image {
    display: none;
  }
}

@media (max-width: 520px) {
  ._3d__first__block__iframe {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .video__control {
    width: 80px;
    height: 80px;
  }
  .print__section__item {
    width: 100%;
  }
  .price__materials__list {
    gap: 15px;
  }
  .price__materials__item {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .banners__panel__content {
    &s {
      height: 240px;
    }
    font-size: 20px;
    &__text {
      flex: none;
    }
  }
  .price__color {
    width: 100%;
  }
  // .gallery.gallery--page .gallery__viewer__list {
  //   a {
  //     width: flexWidth(1, 20px);
  //   }
  // }
}
