.container {
  max-width: var(--container-width);
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  &--wide {
    max-width: var(--container-wide-width);
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--theme) var(--white);
  scrollbar-width: thin;
}

::selection {
  background: var(--theme);
  color: var(--gray);
}

::-moz-selection {
  background: var(--theme);
  color: var(--gray);
}

::-webkit-scrollbar {
  background: 0 0;
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  opacity: 1;
  border-radius: 3px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  main {
    flex: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--background);
  color: var(--black);
  user-select: none;
  position: relative;
}

button {
  font-family: inherit;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a,
.button {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.subtitle {
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: var(--theme);
  border-radius: 80px;
  color: var(--gray);
  padding: 16px 50px;
  transition: all 0.3s;
  line-height: 1em;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  text-align: center;
  border: none;
  &[disabled] {
    background-color: var(--gray-lightest-more);
    border-color: var(--gray-lightest-more);
    cursor: not-allowed;
  }
  &:not([disabled]):hover {
    background-color: var(--theme-light);
    border-color: var(--theme-light);
  }
  &:not([disabled]):active {
    background-color: var(--theme-dark);
    border-color: var(--theme-dark);
  }
  &--light {
    color: var(--gray);
    background-color: var(--white);
    &:not([disabled]):hover {
      color: var(--gray-light);
      background-color: var(--white);
      border-color: var(--white);
    }
    &:not([disabled]):active {
      color: var(--black);
      background-color: var(--white);
      border-color: var(--white);
    }
  }
  &--dark {
    color: var(--theme);
    background-color: var(--gray);
    &:not([disabled]):hover {
      color: var(--theme);
      background-color: var(--black);
    }
  }
  &--border {
    border: 1px solid var(--gray);
    &:not([disabled]):hover {
      border: 1px solid var(--gray);
    }
  }
  &--loader {
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      visibility: hidden;
      width: 20px;
      height: 20px;
      transition: all 0.3s;
      svg circle {
        stroke: var(--theme);
        stroke-width: 4px;
      }
    }
    &.button--loading {
      color: transparent;
      cursor: progress;
      .icon {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.wpcf7-form.submitting {
  .button {
    cursor: progress;
    pointer-events: none;
    background: var(--theme);
    color: transparent;
  }
}

.accordion {
  transition: all 0.3s;
  padding: 40px;
  border-bottom: 1px solid var(--border-color);
  &__toggle {
    color: var(--gray-dark);
    font-family: druk;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    padding-right: 30px;
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 0px;
      width: 25px;
      height: 1px;
      background: var(--border-color);
      transition: all 0.3s;
    }
    &:after {
      transform: rotate(-90deg);
    }
  }
  &__target {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    &__inner {
      padding: 25px 40px;
      margin-top: 20px;
      border-left: 1px solid var(--theme);
      font-size: 16px;
      color: var(--gray);
      max-width: 1200px;
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &.opened {
    .accordion__toggle:before {
      transform: rotate(45deg);
    }
    .accordion__toggle:after {
      transform: rotate(-45deg);
    }
  }
}

.empty {
  font-size: 16px;
  color: var(--black);
}

.pagination {
  &,
  &.navigation {
    text-align: center;
  }
  h2 {
    display: none;
  }
  .nav-links {
    display: flex;
  }
  .page-numbers {
    display: inline-block;
    font-size: 14px;
    width: 89px;
    height: 57px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    color: var(--gray-dark);
    margin-left: 15px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    &:hover,
    &.current {
      border-color: var(--gray-ultra-light);
      background-color: var(--gray-ultra-light);
    }
    &.next,
    &.prev {
      width: auto;
      background-color: transparent;
      color: var(--theme);
      font-size: 16px;
      margin: 3px 8px;
      box-shadow: none;
      &:hover {
        transform: scale(1);
      }
    }
  }
}

[data-view],
[data-overlay],
[data-fancybox] {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  font-size: 0;
  overflow: hidden;
  &:before,
  &:after {
    transition: all 0.3s;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    background-color: var(--theme);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./images/zoom.svg);
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: 3;
  }
  &:hover {
    &:before {
      opacity: 0.7;
    }
    &:after {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.notic {
  .notic-message {
    width: 260px;
    &-inner {
      // width: auto;
    }
  }
}

.cursor--pointer {
  cursor: progress !important;
}

.swiper-container {
  overflow: hidden;
}

.swiper-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  transform: translate(0);
  top: 0;
  margin-top: 0;
  width: 68px;
  height: 68px;
  z-index: 1;
  border-radius: 50%;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 100%;
    max-width: 40px;
    height: auto;
  }
  &:hover {
    color: var(--black);
    background-color: var(--theme);
  }
  &:after {
    display: none;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-fraction {
  width: auto;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  opacity: 0.5;
  width: 12px;
  height: 12px;
  margin: 0 7px;
  transition: all 0.3s;
  border-radius: 30px;
  &.swiper-pagination-bullet-active {
    width: 30px;
    opacity: 1;
    background-color: var(--theme);
  }
}

.icon {
  font-size: 0;
  svg {
    width: 100%;
    height: auto;
  }
}

.section {
  padding: 50px 0;
  &__header {
    color: var(--black);
    margin-bottom: 58px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    &--center {
      justify-content: center;
    }
    &--page {
      .title {
        text-align: center;
        flex: 2;
      }
      * {
        flex: 1;
      }
      // .breadcrumbs{
      //   margin-right: auto;
      // }
    }
  }
}

.video {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-size: 0;
  margin: 60px 0;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__content {
    color: var(--white);
    position: relative;
    z-index: 2;
    padding: 60px;
    transition: all 0.3s;
    position: absolute;
  }
  &__title {
    font-weight: 500;
    font-size: 40px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.4em;
    margin-top: 14px;
  }
  video {
    opacity: 0;
    width: 100%;
    transition: all 0.3s;
  }
  &:before {
    content: '';
    background-color: var(--gray);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  &__control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 3;
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
    padding: 0;
    &__letters {
      position: absolute;
      top: -20%;
      left: -20%;
      width: 140%;
      height: 140%;
      animation: rotate 15s linear infinite;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 54%;
      transform: translate(-50%, -50%);
      width: 30%;
      z-index: 2;
    }
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 1px solid var(--gray-ultra-light);
      transition: all 0.3s;
      z-index: 1;
    }
    &:before {
      background-color: rgba(244, 244, 244, 0.2);
    }
    &:after {
      opacity: 0.4;
      width: 60%;
      height: 60%;
    }
    &:hover {
      color: var(--theme);
      .video__control__letters {
        animation-play-state: paused;
      }
      &:after,
      &:before {
        background-color: var(--black);
        opacity: 1;
        width: 90%;
        height: 90%;
      }
    }
  }
  &--played {
    video {
      opacity: 1;
      transition-delay: 0.3s;
    }
    &:before {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.3s;
    }
    .video {
      &__content {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50px);
      }
      &__control {
        opacity: 0;
        width: 100px;
        height: 100px;
        visibility: hidden;
      }
    }
  }
}

@media (hover: none) {
  .video {
    video {
      opacity: 1;
      transition: none;
      visibility: hidden;
    }
    &--played {
      visibility: visible;
    }
  }
}

.load-more {
  &__pagination {
    margin: 40px 0;
    padding-top: 40px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--gray-dark);
      opacity: 0.1;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:empty {
      margin: 0;
    }
    &__button {
      border: 1px solid var(--border-color);
    }
  }
  .pagination {
    .prev,
    .next {
      display: none;
    }
  }
}

.breadcrumbs {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  &,
  & a {
    color: var(--white);
  }
  li {
    list-style: none;
    &.post_tag:not(:last-child),
    &.current-item {
      display: none;
    }
    & > span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    transition: all 0.3s;
    &:hover {
      color: var(--black);
    }
  }
}

.top {
  position: relative;
  z-index: 3;
  margin: 40px 0;
  &--border {
    padding-bottom: 40px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--gray-dark);
      opacity: 0.1;
    }
  }
  &__bottom {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    color: var(--gray);
  }
  &__select {
    display: flex;
    align-items: center;
    .select {
      margin-left: 15px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    a {
      margin-left: 15px;
      color: var(--gray-dark);
      &.active {
        font-weight: 600;
      }
    }
  }
}

.select {
  position: relative;
  font-size: 16px;
  min-width: 240px;
  &__current {
    padding: 0;
    color: var(--black);
    line-height: 1em;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--background);
    .icon {
      margin-left: 15px;
      width: 10px;
      height: auto;
      font-size: 0;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      svg {
        stroke: var(--gray-medium);
      }
    }
  }
  &__list {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 20px);
    opacity: 0;
    visibility: hidden;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: all 0.3s;
    background-color: var(--background);
    &__item {
      display: block;
      padding: 10px 15px;
      color: var(--button-gray);
      border-bottom: 1px solid var(--border-color);
      transition: all 0.3s;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: var(--theme);
      }
    }
  }
  &--active {
    .select {
      &__list {
        top: calc(100% + 10px);
        opacity: 1;
        visibility: visible;
      }
      &__current {
        .icon {
          transform: rotate(-180deg);
          svg {
            stroke: var(--red);
          }
        }
      }
    }
  }
}

.date {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  color: var(--gray);
  font-size: 16px;
  font-weight: 100;
  line-height: 1em;
  .icon {
    width: 20px;
    margin-right: 10px;
    display: none;
    svg {
      fill: var(--gray-medium);
    }
  }
}

.share {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  .ya-share {
    margin-left: 15px;
  }
}

.tabs {
  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
  }
  &__button {
    position: relative;
    padding: 8px;
    text-transform: uppercase;
    font-family: grandis;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      transition: all 0.3s;
      background-image: linear-gradient(
        to left,
        var(--gradient-start),
        var(--gradient-end)
      );
    }
    &:hover,
    &[data-active] {
      &:after {
        width: 100%;
      }
    }
  }
  &__contents {
    position: relative;
    overflow: hidden;
  }
  &__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    &[data-active] {
      opacity: 1;
      visibility: visible;
      position: static;
    }
  }
}

.field {
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  line-height: 1em;
  font-size: 14px;
  color: var(--gray-light);
  &__button {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    .icon {
      width: 100%;
    }
    svg {
      fill: var(--theme);
      transition: all 0.3s;
    }
    &[disabled] {
      cursor: default;
      svg {
        fill: var(--gray-lightest);
      }
    }
  }
  &__input {
    margin: 0 16px;
    font-weight: 700;
  }
}

.deliver {
  height: 1px;
  width: 100%;
  background-color: var(--gray-dark);
  opacity: 0.1;
  margin: 30px 0;
  &--section {
    margin: 0;
  }
}

.blocks {
  .block {
    margin-bottom: 80px;
    &__image {
      font-size: 0;
      margin-bottom: 40px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__title {
      h2 {
        font-size: 24px;
        font-family: druk;
        text-transform: uppercase;
      }
    }
    &__text {
      margin-top: 20px;
      color: var(--gray-semidark);
    }
  }
}

.quote {
  position: relative;
  padding: 80px 40px 40px 40px;
  margin-top: 80px;
  background-color: var(--background-second);
  color: var(--gray-semidark);
  .icon--quote {
    position: absolute;
    width: 140px;
    left: 70px;
    top: -18px;
    color: var(--gray-one-more);
  }
  &--photo {
    padding-left: 230px;
  }
  &__photo {
    position: absolute;
    top: 103px;
    left: -44px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      max-width: auto;
      margin: 0;
    }
  }
  &__header {
    display: inline-block;
  }
  &__title {
    font-size: 24px;
    font-family: druk;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--black);
  }
  &__subscription {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
  }
  &__text {
    margin-top: 20px;
    font-size: 16px;
  }
}

body .notic-loading svg {
  stroke: var(--theme);
}

.logo {
  display: block;
  font-size: 0;
  &--mobile {
    display: none;
  }
  img {
    width: auto;
    max-height: 90px;
    height: auto;
  }
}

.toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: none;
  &__inner {
    position: relative;
    width: 30px;
    height: 25px;
    span,
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 3px;
      transition: all 0.3s;
      background-color: var(--theme);
    }
    &:before {
      top: 0;
      transform: translateY(0);
    }
    &:after {
      top: 100%;
      transform: translateY(-100%);
    }
  }

  &:hover {
    span {
      width: 80%;
    }
  }
}

.navigation-visible {
  .toggle {
    span {
      width: 0;
    }
    &:hover {
      span {
        width: 0;
      }
    }
    &__inner {
      &:after,
      &:before {
        top: 50%;
      }
      &:after {
        transform: translateY(-50%) rotate(45deg);
      }
      &:before {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.fixed-button {
  &s {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 3;
  }
  width: 80px;
  height: 80px;
  color: var(--black);
  background-color: var(--white);
  border-radius: 50%;
  display: block;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  &:hover {
    box-shadow: none;
  }
  &:first-child {
    margin-top: 0;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--black);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  .icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s;
    svg {
      max-width: 28px;
      max-height: 28px;
      width: 100%;
      height: auto;
    }
  }
  &--top {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: 0;
    .icon {
      opacity: 0;
    }
  }
}

body.scrolled {
  .fixed-button {
    &--top {
      opacity: 1;
      visibility: visible;
      height: 80px;
      margin-top: 20px;
      .icon {
        opacity: 1;
      }
    }
  }
}

.dialog {
  position: relative;
  .form {
    margin: 0;
  }
  .form__item {
    padding: 0;
    margin: 5px 0;
    input {
      padding: 10px;
      font-size: 14px;
    }
    .form__item__submit {
      width: 100%;
    }
    input[type='submit'] {
      border-radius: 0 0 30px 0;
      min-width: 200px;
    }
  }
  .wpcf7-acceptance input + .wpcf7-list-item-label {
    font-size: 12px;
  }
  &-close {
    position: absolute;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    top: 0;
    left: -45px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: none;
    font-size: 0;
    cursor: pointer;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.3s;
    border-radius: 50%;
    svg {
      color: var(--black);
      width: 20px;
      height: auto;
    }
  }
  &-inner {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    transition: all 0.3s;
    border-radius: 0 0 42.5px 0;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
  }
  &-call {
    z-index: 3;
    position: relative;
  }
  &--show {
    .dialog {
      &-close {
        visibility: visible;
        transform: scale(1);
      }
      &-call {
        opacity: 0;
        visibility: hidden;
      }
      &-inner {
        padding: 5px 10px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.rating {
  position: relative;
  width: 170px;
  &__layer {
    display: flex;
    color: var(--star-gray);
    width: 170px;
    .icon {
      flex: 0 0 20%;
      padding: 0 2px;
    }
    &--active {
      color: var(--star-gold);
    }
    &__value {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.slider {
  &--full-height-slide {
    .swiper-wrapper {
      align-items: inherit;
    }
    .swiper-slide {
      height: auto;
    }
  }
  .slider__inner {
    position: relative;
    padding: 0 50px;
  }
  .swiper-slide {
    img {
      width: 100%;
      height: auto;
    }
  }
  .swiper-pagination:not(:empty) {
    margin-top: 20px;
  }
}

.progressbar {
  z-index: 4;
  gap: 30px;
  color: var(--theme);
  font-weight: 100;
  line-height: 1em;
  width: 100%;
  max-width: 400px;
  &__line {
    width: 100%;
    height: 2px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    div {
      background-color: var(--theme);
      transition: all 0.3s;
      left: 0;
      height: 100%;
    }
  }
  &__counts {
    font-weight: 700;
    font-size: 13px;
    margin-top: 7px;
    color: var(--gray-light);
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    span {
      &:first-child {
        color: var(--white);
      }
    }
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 0;
  transform: translateX(0);
  margin: 0 auto;
  .swiper-pagination-bullet {
    opacity: 1;
    &-active-prev-prev,
    &-active-next-next {
      opacity: 0.5;
    }
    &.swiper-pagination-bullet-active {
      width: 12px;
      opacity: 1;
      background-color: var(--theme);
    }
  }
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    flex: 0 0 300px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(84, 60, 60, 0.33);
    }
  }
  &__title {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 24px;
    font-family: grandis;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    color: var(--white);
  }
  &__content {
    padding: 20px;
    font-size: 14px;
    color: var(--black);
    background-color: var(--white);
    flex: 1;
  }
}

// .section {
//   .form {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     &__item {
//       flex: 0 0 33.333%;
//       &:last-child {
//         flex: 0 0 100%;
//       }
//       &__submit {
//         width: 100%;
//       }
//     }
//   }
// }

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: var(--gray);
        transition: all 0.3s;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &--header {
    flex: 1;
    max-width: 850px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      li {
        a {
          position: relative;
          padding: 45px 0;
          display: block;
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 3px;
            width: 100%;
            transition: all 0.3s;
            background: var(--theme);
            opacity: 0;
          }
        }

        &.current_page_item a,
        a:hover {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.social {
  width: 32px;
  height: 32px;
  display: block;
  transition: all 0.3s;
  font-size: 0;
  color: var(--theme);
  display: flex;
  align-items: center;
  justify-content: center;
  &--instagram {
    .icon {
      width: 24px;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.not-found {
  text-align: center;
  font-weight: 700;
  padding: 40px 0;
  font-size: 15px;
  h1 {
    font-size: 82px;
    font-weight: 700;
    color: var(--theme);
  }
}

.title {
  font-size: 48px;
  color: var(--gray);
  font-weight: 500;
  &--mini {
    font-size: 30px;
  }
}

.link,
.breadcrumbs a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--gray);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  &:after,
  &:before {
    content: '';
    width: 40px;
    height: 15px;
    background-image: url(./images/arrow-left.svg);
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    transition: all 0.3s;
  }
  &:hover {
    &:after {
      transform: translateX(-15%);
    }
    &:before {
      transform: translateX(15%);
    }
  }
}

.breadcrumbs a {
  &:after {
    display: none;
  }
}

.content {
  font-size: 15px;
  line-height: 1.4em;
  padding: 15px;
  color: var(--gray);
  a {
    color: var(--theme);
    transition: all 0.3s;
    &:hover {
      color: var(--black);
    }
  }
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 10px 0;
      padding-left: 25px;
      position: relative;
    }
  }
  ul {
    li {
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        box-shadow: inset 0 0 0 5px var(--theme);
        top: 3px;
        left: 0;
        border-radius: 50%;
      }
    }
  }
  ol {
    counter-reset: li;
    li {
      counter-increment: li;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: counter(li) '.';
        color: var(--theme);
        font-weight: 700;
        width: 20px;
      }
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 25px auto;
  }
  [data-fancybox] {
    display: inline-block;
    margin: 0 auto;
    img {
      width: auto;
      margin: 0 auto;
    }
  }
  blockquote {
    border-left: 3px solid var(--theme);
    margin-left: 0;
    padding-left: 15px;
  }
  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  mark {
    background: linear-gradient(
      transparent 25%,
      var(--theme) 25%,
      var(--theme) 80%,
      transparent 80%
    );
    color: inherit;
  }
  &-block {
    &--image {
      margin: 60px 0;
      a {
        border-radius: 50px;
        overflow: hidden;
      }
    }
    &--text {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      max-width: 1100px;
      margin: 60px auto;
      .content {
        flex: 1;
        padding: 0;
        min-width: calc(50% - 40px);
        font-size: 18px;
        &--big {
          font-size: 40px;
        }
      }
    }
    &--button {
      max-width: 1100px;
      margin: -30px auto;
      & + .content-block--button {
        margin-top: 50px;
      }
    }
    &--video {
      margin: 60px 0;
    }
    &--slider {
      overflow: hidden;
      margin: 60px 0;
      .slider__inner{
        padding: 0;
      }
      .swiper-slide {
        border-radius: 50px;
        overflow: hidden;
      }
      .swiper-container{
        overflow: visible;
      }
    }
  }
}

.fancybox {
  &__backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__content :focus:not(.carousel__button.is-close) {
    outline: none;
  }
}

.content-slider {
  border-radius: 50px;
  display: flex;
  background-color: var(--white);
  &__wrapper {
    position: relative;
    padding: 50px 0;
  }
  &__content,
  &__slider {
    width: 50%;
    flex-shrink: 0;
  }
  &__slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 50px 50px 0;
    .slider {
      position: absolute;
      top: 50%;
      left: calc(50% - 60px);
      width: calc(50% + 60px);
      transform: translateY(-50%);
      .slider__inner {
        padding: 0;
      }
      .swiper-slide {
        border-radius: 50px;
        overflow: hidden;
        width: 620px;
      }
    }
  }
  &__content {
    padding: 120px 120px 120px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--gray);
    &__title {
      h2 {
        font-size: 40px;
      }
    }
    &__text {
      line-height: 1.4em;
    }
  }
}

.map{
  height: 720px;
  border-radius: 50px;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .button {
    padding: 15px 20px;
  }
}

@media (max-width: 768px) {
  [data-hide='mobile'] {
    display: none;
  }
  .fixed-button {
    &s {
      right: 15px;
      bottom: 15px;
    }
    width: 60px;
    height: 60px;
    &:before {
      border-width: 1px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    }
    .icon {
      width: 20px;
      height: 20px;
      svg {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }
  .fixed-button--top {
    height: 0;
  }
  body.scrolled .fixed-button--top {
    height: 60px;
    margin-top: 10px;
  }
}
