.footer {
  background-color: var(--gray);
  padding: 60px 0;
  color: var(--white);
  user-select: text;
  .logo {
    width: 85px;
  }
  .navigation {
    ul {
      column-count: 2;
      column-gap: 190px;
      li {
        margin-bottom: 40px;
        a {
          color: var(--gray-lightest);
          &:hover {
            color: var(--theme);
          }
        }
      }
    }
  }
  a {
    color: var(--white);
    transition: all 0.3s;
    margin: 2px 0;
    &:hover {
      color: var(--theme);
    }
  }
  &__copyrights {
    font-size: 13px;
    color: var(--gray-light);
  }
  &__domain {
    a {
      color: var(--theme);
      font-weight: 600;
    }
  }
  &__phone {
    font-size: 18px;
    font-weight: 600;
  }
  &__contacts {
    padding: 0;
    list-style: none;
    margin: 0;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    color: var(--gray-lightest);
    li {
      &:last-child {
        margin-bottom: 0;
      }
      .icon {
        position: absolute;
        color: var(--theme);
        top: 0;
        left: 0;
        width: 24px;
      }
    }
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    row-gap: 50px;
  }
  &__block {
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 22px;
      max-width: 330px;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 991px) {
  .footer__blocks {
    flex-direction: column;
  }
  .footer__block {
    margin-left: 0;
    padding-top: 0;
    &--wide {
      padding-top: 30px;
      gap: 30px;
      flex-direction: column;
    }
  }
  .footer__block--wide .navigation ul {
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .footer .navigation ul {
    column-count: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      margin-bottom: 0;
    }
  }
}
