.modal {
  width: 100%;
  max-width: 720px;
  padding: 60px 120px;
  display: none;
  border-radius: 50px;
  &.fancybox__content > .carousel__button.is-close {
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    color: var(--gray-lightest);
    svg {
      filter: none;
    }
  }
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: var(--gray);
    margin-bottom: 30px;
    padding: 0 30px;
  }
  &__text {
    text-align: center;
    color: var(--gray-light);
    margin-bottom: 60px;
  }
}

.modal-wrapper {
  .fancybox-content {
    overflow: visible;
  }
  .fancybox-close-small {
    width: 50px;
    height: 50px;
    color: var(--gray);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -60px;
    border-radius: 50%;
    background-color: var(--white);
    svg {
      transition: all 0.3s;
    }
    path {
      stroke-width: 1px;
    }
    &:hover {
      svg {
        transform: scale(0.9) rotate(90deg);
      }
    }
  }
  .fancybox-bg {
    background-color: rgba(0, 0, 0, 0.67);
  }
  &.fancybox-is-open .fancybox-bg {
    opacity: 1;
  }
}

@media(max-width: 768px){
  .modal{
    padding: 30px;
    &__title{
      font-size: 24px;
    }
    &__text{
      margin-bottom: 30px;
    }
  }
}