.product {
  &s {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__title {
      font-size: 30px;
      font-weight: 500;
      color: var(--gray);
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }
    &__switcher {
      display: flex;
      gap: 10px;
      white-space: nowrap;
      flex-wrap: wrap;
    }
  }
  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__main {
      width: 100%;
      position: relative;
      padding: 90px 60px;
      &__panel {
        position: relative;
        gap: 15px;
        padding: 60px;
        border-radius: 60px;
        background-color: var(--white);
        width: 100%;
        max-width: 565px;
        min-height: 540px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__body {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
        &__title {
          font-size: 35px;
          font-weight: 400;
          font-family: unbounded;
          color: var(--gray);
        }
        &__text {
          color: var(--gray);
          text-align: justify;
        }
        &__footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .swiper-button-prev,
          .swiper-button-next {
            color: var(--gray);
            border: 1px solid var(--gray);
            &:hover {
              border-color: var(--theme);
            }
          }
          .progressbar {
            &__line {
              display: none;
            }
            &__counts {
              color: var(--gray-lightest);
              span:first-child {
                color: var(--gray);
              }
            }
          }
        }
      }
      .swiper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .swiper-slide {
        img {
          display: none;
        }
        a {
          border-radius: 50px;
          overflow: hidden;
          @extend .safari-overflow;
          display: block;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      &--no-panel {
        padding: 0;
        padding-top: 43%;
      }
    }
    &__thumbs {
      overflow: visible;
      width: 100%;
      .swiper-slide {
        cursor: pointer;
        img {
          width: 100%;
          height: auto;
          opacity: 0.5;
          border-radius: 25px;
          transition: all 0.3s;
          overflow: hidden;
        }
        &:hover,
        &-thumb-active {
          img {
            opacity: 1;
          }
        }
      }
    }
    &--mobile {
      display: none;
    }
  }
  .content-block--text,
  .content-block--button {
    max-width: 100%;
  }
  .tabs {
    &__contents {
      overflow: visible;
    }
    &__buttons {
      margin-bottom: 0;
      margin-top: 60px;
    }
  }
  &--card {
    border-radius: 50px;
    background-color: var(--white);
    overflow: hidden;
    @extend .safari-overflow;
    flex-shrink: 0;
    width: flexWidth(4, 40px);
    padding-top: flexWidth(4, 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
    &[data-hidden='1'] {
      display: none;
    }
    .product {
      &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 0;
        padding: 30px;
        left: 0;
        width: 100%;
        text-align: center;
      }
      &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -30px;
        width: 100%;
        max-width: 230px;
        text-align: center;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      &__title {
        font-size: 20px;
        color: var(--gray);
      }
      &__gabarite {
        color: var(--gray-light);
        font-size: 15px;
      }
    }
  }
}

.product__header {
  display: flex;
  gap: 80px;
  &__side {
    flex: 1;
    flex-shrink: 0;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
    &--gallery {
    }
  }
}

@media (max-width: 600px) {
  .product__gallery {
    display: none;
    &--mobile {
      display: flex;
    }
  }
}
