body {
  --container-width: 1700px;
  --white: #ffffff;
  --black: #000000;
  --background: #e3e3e3;
  --theme: #ffe168;
  --theme-light: #ffeb9c;
  --theme-dark: #dfc040;
  --red: #ff0000;
  --border-color: #bdbdbd;
  --gray: #444348;
  --gray-light: #8f8f91;
  --gray-lightest: #b4b4b6;
  --gray-lightest-more: #dbdbdb;
}

@function flexWidth($count, $gap) {
  @return calc(100% / $count - (($count - 1) * $gap) / $count);
}

@import 'js/swiper/swiper.min.css';
@import './scss/animations';
@import './scss/wordpress-fixies';
@import './scss/fonts';
@import './scss/preloader';
@import './scss/lazy';
@import './scss/form';
@import './scss/control';
@import './scss/modal';
@import './scss/common';
@import './scss/header';
@import './scss/banners';
@import './scss/footer';
@import './scss/grid';
@import './scss/articles';
@import './scss/promo';
@import './scss/contacts';
@import './scss/print';
@import './scss/call-to-action';
@import './scss/gallery';
@import './scss/3d';
@import './scss/price';
@import './scss/zoom';

// woo
@import './scss/product';
@import './scss/cart';
@import './scss/checkout';
@import './scss/compare';
@import './scss/favorite';
@import './scss/search';

@import './scss/adaptive';
